-e .
-e git+https://github.com/Bitergia/grimoirelab-perceval-finos/#egg=grimoirelab-perceval-finos
-e git+https://github.com/chaoss/grimoirelab-cereslib/#egg=grimoirelab-cereslib
-e git+https://github.com/chaoss/grimoirelab-elk/#egg=grimoirelab-elk
-e git+https://github.com/chaoss/grimoirelab-graal/#egg=grimoirelab-graal
-e git+https://github.com/chaoss/grimoirelab-perceval-mozilla/#egg=grimoirelab-perceval-mozilla
-e git+https://github.com/chaoss/grimoirelab-perceval-opnfv/#egg=grimoirelab-perceval-opnfv
-e git+https://github.com/chaoss/grimoirelab-perceval-puppet/#egg=grimoirelab-perceval-puppet
-e git+https://github.com/chaoss/grimoirelab-perceval-weblate/#egg=grimoirelab-perceval-weblate
-e git+https://github.com/chaoss/grimoirelab-perceval.git/#egg=perceval
-e git+https://github.com/chaoss/grimoirelab-perceval.git/#egg=perceval
-e git+https://github.com/chaoss/grimoirelab-perceval.git/#egg=perceval
-e git+https://github.com/chaoss/grimoirelab-perceval/#egg=grimoirelab-perceval
-e git+https://github.com/chaoss/grimoirelab-perceval/#egg=perceval
-e git+https://github.com/chaoss/grimoirelab-sortinghat/#egg=grimoirelab-sortinghat
-e git+https://github.com/chaoss/grimoirelab-toolkit/#egg=grimoirelab-toolkit
-e git+https://github.com/chaoss/grimoirelab-toolkit/#egg=grimoirelab-toolkit
-e git+https://github.com/chaoss/grimoirelab-toolkit/#egg=grimoirelab-toolkit
-e git+https://github.com/chaoss/grimoirelab-toolkit/#egg=grimoirelab-toolkit
-e git+https://github.com/chaoss/grimoirelab-toolkit/#egg=grimoirelab-toolkit
-e git+https://github.com/chaoss/grimoirelab-toolkit/#egg=grimoirelab-toolkit
# Reuse the setup.py one
bandit>=1.4.0
beautifulsoup4>=4.3.2
cheroot>=8.2.1
cherrypy>=17.4.2
colorlog==4.1.0
cryptography>=3.3.1
dulwich>=0.20.0
elasticsearch-dsl==6.3.1
elasticsearch-dsl==6.3.1
elasticsearch==6.3.1
elasticsearch==6.3.1
fakeredis==1.0.3
feedparser>=6.0.8
file-read-backwards==2.0.0
flake8>=3.7.7
geopy>=2.0.0
graal @ git+https://github.com/chaoss/grimoirelab-graal@master
grimoireelk @ git+https://github.com/chaoss/grimoirelab-elk@master
grimoirelab-panels @ git+https://github.com/chaoss/grimoirelab-sigils@master
grimoirelab-toolkit @ git+https://github.com/chaoss/grimoirelab-toolkit@master
httpretty==0.8.6
httpretty==1.0.2
httpretty>=0.9.5
httpretty>=0.9.6
httpretty>=0.9.6
jinja2>=3.0.3,<3.1.0
kidash @ git+https://github.com/chaoss/grimoirelab-kidash@master
lizard==1.16.6
networkx>=2.1
numpy<=1.18.3
numpy<=1.18.3
numpy<1.21.1
pandas>=0.22.0,<=0.25.3
pandas>=0.22.0,<=0.25.3
pandoc
perceval @ git+https://github.com/chaoss/grimoirelab-perceval@master
perceval-finos @ git+https://github.com/Bitergia/grimoirelab-perceval-finos@master
perceval-mozilla @ git+https://github.com/chaoss/grimoirelab-perceval-mozilla@master
perceval-opnfv @ git+https://github.com/chaoss/grimoirelab-perceval-opnfv@master
perceval-puppet @ git+https://github.com/chaoss/grimoirelab-perceval-puppet@master
perceval-weblate @ git+https://github.com/chaoss/grimoirelab-perceval-weblate@master
pydot>=1.2.4
PyJWT>=1.7.1
pylint>=1.8.4
PyMySQL==0.9.3
PyMySQL>=0.7.0
python-dateutil>=2.6.0
python-dateutil>=2.6.0
python-dateutil>=2.8.0
python-dateutil>=2.8.0
pyyaml>=3.12
redis==3.0.0
requests==2.26.0
requests>=2.7.0
requests>=2.7.0
requests>=2.7.0
requests>=2.9
rq==1.0.0
scipy
six
sortinghat @ git+https://github.com/chaoss/grimoirelab-sortinghat@master
sqlalchemy>=1.2,<1.4
statsmodels >= 0.9.0
urllib3==1.26.5
urllib3>=1.22
urllib3>=1.22
wheel